

.LoginCont{
     display: flex;
     align-items: center;
     justify-content: center;
}


.LoginCard{
     width: 340px;
     border-radius: var(--card-border-radius);
     box-shadow: var(--card-box-shd);
     gap: 3.5vh;

     display: flex;
     flex-direction: column;
     padding: 15px;

}






