
.inputCont{
     position: relative;
     width: 100%;
}

.inputCont input{
     width: 100%;
     padding: var(--input-padding);
    
     font-size: var(--common-font-size);    
     border-radius: var(--input-radius);
     
}

.inputCont p{
     position: absolute;
     font-size: 12px;
     background-color: white;
     top: -7px;
     left: 13px;
     padding-left: 6px;
     padding-right: 6px;
}

.good{
      border: var(--input-border);
}

.good:focus{
     outline: solid var(--select-color);
     border: 1px solid transparent;
}




/********************************
|   WHEN DE VALIDATION GOES BAD  |
 ********************************/
.bad{
     outline: solid var(--bad-color);
     border: none;
}

.bad:focus{
     outline: solid var(--bad-color);
     border: none;
}


